.footer {
    // position: fixed;
    margin-top: 5rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    border-top: 1px solid rgb(229 231 235 / var(--tw-border-opacity, 1));
    border-bottom: 1px solid rgb(229 231 235 / var(--tw-border-opacity, 1));
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
    margin-bottom: 1rem;
  }

  .name{
    font-weight: 500;
  }
  .c{
    margin-top: 0 !important;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom:  1rem;
  }